
@import url(site.css);

/* --------------------------------- DROPDOWN --------------------------------- */

.dropdown {
    color: var(--font-color);
    /* border-bottom: 3px solid var(--selected); */
    position: relative;
    padding: 0.5em 0.5em;
    display: inline-block;
    min-height: 1em;
    min-width: 1em;
}

/* .dropdown::after {
    content: "";
    border-width: 5px;
    border-style: solid;
    border-color: var(--selected) transparent transparent transparent;
    top: 100%;
    left: 30%;
    position: absolute;
} */

.dropdown-content {
    box-shadow: 0px 5px 10px 1px rgba(0,0,0,0.2);
    /* left:-50%; */
    top:100%;
    background-color: var(--back);
    position:absolute;
    display: none;
    z-index: var(--z-panel-over);
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* dropdown items */
.dropdown-content * {
    padding: 0.5em;
    display: block; /* forces line per item */
}

.dropdown-content *:hover {
    background-color: var(--hover-back);
}

.dropdown-arrow {
    margin: 0 0 0 0.5em;
}

/* --------------------------------- COMBOBOX --------------------------------- */

.combobox {
    color: var(--font-color);
    border-width: 1px;
    border-radius: 3px;
    border-color: var(--hover-back);
    border-width: 2px;
    border-style: solid;
    padding: 0.1em 0.5em;
    position: relative;
    display: inline-block;
}

.combobox-handler {
    display: inline-block;
}

.combobox-handler-arrow {
    margin-left: 0.5em;
}

.combobox-content {
    box-shadow: 0px 5px 10px 1px rgba(0,0,0,0.2);
    top:100%;
    background-color: var(--back);
    position:absolute;
    display: none;
    z-index: var(--z-panel-top);
}

/* combobox items */
.combobox-content * {
    padding: 0.5em 0em;
    display: block; /* forces line per item */
}

.combobox-content *:hover {
    background-color: var(--hover-back);
}

/* --------------------------------- TABLE --------------------------------- */

table, th, td {
    border-collapse: collapse;
}

th, td:first-child {
    background-color: var(--button-back);
}

th, td {
    text-align: center;
    padding: 0.2em 1em;
}

th:first-child {
    border-radius: 10px 0 0 0;
    padding: 0.3em;
}

th:last-child {
    border-radius: 0 10px 0 0;
}

tr:last-child td:first-child {
    border-radius: 0 0 0 10px;
}

/* --------------------------------- DISPLAY --------------------------------- */

.display-control {
    font-family: var(--font);
    font-size: 0.8em;
    font-weight: 400;
    background-color: var(--back);
    border: var(--border-width) var(--border-style) var(--border-color);
    border-radius: var(--border-radius);
    left: 33vw;
    top: 12.5vh;
    position: absolute;
    display: none;
    opacity: 0.9;
    overflow-y: auto;
    overflow-x: hidden !important;
    z-index: var(--z-panel);
}

/*
.display-control > * {
    padding-right: 1em;
}
*/

.display-control-handle {
    height: 1em;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.display-control-handle > * {
    font-size: var(--font-size-handle);
    color: var(--font-color);
    margin-top: 0.3em;
    padding: 0.2em;
    float: right;
}

.display-control-title {
    font-size: var(--font-size-title);
    font-weight: var(--font-weight-title);
    color: var(--font-color);
    width: 100%;
    margin: 0.5em 1em 1.5em 1em;
}

.display-control-content {
    font-size: 1em;
    font-weight: var(--font-weight-title);
    color: var(--font-color);
    /* width: 90%; */
    max-height: 500px;
    margin: 1em 0em;
    overflow-x: hidden !important;
}

.display-control-content > * {
    margin-left: -01em;
}

.display-control-separator {
    border-top: 2px solid var(--border-color);
    width: '100%';
    margin: 1.5em 0 1.5em 0;
}

.display-control input {
    color: var(--font-color);
    text-align: right;
    max-width: 10em;
}

.display-control-icons {
    margin-right: 1em;
    margin-top: 1em;
    float: left;
    cursor: pointer;
}

.display-control-icons:first {
    margin-left: 4em;
    margin-right: 1em;
    margin-top: 1em;
    float: left;
    cursor: pointer;
}

.display-control-buttons {
    margin-right: 1em;
    margin-top: 1em;
    float: right;
    cursor: pointer;
}

.display-control-dropdowns > * {
    font-family: var(--font);
    font-size: 0.8em;
}

.input-short {
    max-width: 4em !important;
}

/* #patterns-menu-ret-search-in-menu label {
    font-size: 85%;
}

#search-in-retracements > * {
    max-width: 8em;
} */